version: '3.4'

volumes:
  rockstor:
  postgres:
  etc:

services:
  rockstor:
    volumes:
      - postgres:/var/lib/pgsql/
      # So it caches the fact it's finished setup!
      - rockstor:/opt/rockstor/
      - etc:/etc/
    ports:
      - 80:80
      - 443:443
