version: '3.4'

volumes:
  rockstor:
  postgres: 

services:
  rockstor:
    volumes:
      - postgres:/var/lib/pgsql/
      # So it caches the fact it's finished setup!
      - rockstor:/opt/rockstor
    ports:
      - 80:80
      - 443:443
